.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .loginInput {
    width: 300px;
    height: 35px;
    padding: 15px;
  }

  .loginInput + .loginInput {
    margin-top: 20px;
  }

  .btnSubmit {
    width: 150px;
    height: 30px;
    margin-top: 25px;
    border-radius: 10px;
    background: #e7e7e7;
    border: 1px solid black;
  }

}